<ion-app>    
    <ion-header>
      
      <ion-toolbar flexLayout="row" *ngIf="shrinkToolbar" mode="md">
        <div fxLayout="row" fxLayoutAlign="space-between">
   
          <ion-button fill="clear" >
                <mat-icon id='delete-icon' >menu</mat-icon>
          </ion-button>

          <ion-title >
              <div class="mat-subheading-1" style="margin-bottom:2px">President</div>
              <div class="mat-caption" style="line-height:.6rem;">Leader of the Free World</div>
          </ion-title>
     
          <ion-button fill="clear">
              <mat-icon id='add-icon'>more_vert</mat-icon>
          </ion-button>
        </div>
      </ion-toolbar>

      <ion-toolbar flexLayout="column"  fxLayoutAlign="start start"*ngIf="!shrinkToolbar" style="--min-height : 130px" class="abe">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <ion-button size="small" fill="clear" slot="start">
              <mat-icon id='delete-icon' >menu</mat-icon>
            </ion-button>
            <ion-button size="small"  fill="clear" slot="end">
                <mat-icon id='add-icon'>more_vert</mat-icon>
            </ion-button>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-between" style="padding-left: 20px;"> 
              <h4 class="mat-title">President</h4>
              <div class="mat-body">Commander in Chief</div>
              <div class="mat-body">Leader of the Free World</div>
          </div>
     </ion-toolbar>

  </ion-header>

  <ion-content>
    <div class="eaton mat-typography"  style="overflow-x:hidden;" fxFlexFill cdkScrollable> 
      <mat-list>
          <mat-list-item *ngFor="let item of list;">
          <mat-icon mat-list-avatar>person</mat-icon>
          <div mat-line class="mat-small" [ngStyle]="{color: Colors.black[900]}">{{item.president}}</div>
          <div mat-line [ngStyle]="{color: Colors.gray[800]}">{{item.party}}</div>
          <div mat-line [ngStyle]="{color: Colors.gray[800]}">{{item.took_office}}</div>
          </mat-list-item>
      </mat-list>
    </div>
  </ion-content>
</ion-app>